if [[ -a $HOME/.localrc ]]; then source $HOME/.localrc; fi   # load sensitive information


###############################################################################
#                              User Preferences                               #
###############################################################################

# Setup your locale
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# Other settings
# Auto-refresh GPG terminal detection
export GPG_TTY=$(tty)

# Clear text after exiting git pager mode
export LESS=FR

# Disable homebrew auto-update
export HOMEBREW_NO_AUTO_UPDATE=1

# Disable hints
export HOMEBREW_NO_ENV_HINTS=1

# Default editor
export EDITOR='nvim'


###############################################################################
#                            Path Configurations                              #
###############################################################################

# Add paths
export PATH="$HOME/.local/bin:$PATH"

# fix gpg not found issue in vscode caused by zsh-defer brew shellenv
{{- if (eq .chezmoi.os "darwin") }}
export PATH="/opt/homebrew/bin:$PATH" 
export PATH="/opt/homebrew/opt/grep/libexec/gnubin:$PATH"
export PATH="/opt/homebrew/opt/findutils/libexec/gnubin:$PATH"
{{- else if (eq .chezmoi.os "linux") }}
export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH" 
{{- end }}

# Change zsh-z .z location
export ZSHZ_DATA="$XDG_CACHE_HOME/zsh/.z"

# Change .lesshst location
export LESSHISTFILE="$XDG_CACHE_HOME/zsh/.lesshst"

# Change .vimrc location
# export VIMINIT="$XDG_CONFIG_HOME/vim/.vimrc"

# change .zcompdump directory
# see https://github.com/ohmyzsh/ohmyzsh/issues/7332#issuecomment-2537406196
export ZSH_COMPDUMP="$HOME/.cache/zsh/zcompcache/.zcompdump"

# Change .gitconfig location
export GIT_CONFIG_GLOBAL="$XDG_CONFIG_HOME/git/gitconfig"

# Change .matplotlib location
export MPLCONFIGDIR="$XDG_CONFIG_HOME/.matplotlib"

# your project folder that we can `c [tab]` to
export PROJECTS=~/Code

# zsh history
HISTFILE="$HOME/.zsh_history"
HISTSIZE=10000
SAVEHIST=10000


###############################################################################
#                  Load FPATH for functions and completions                   #
###############################################################################

fpath=($HOME/.local/fpath $fpath)

autoload -Uz $HOME/.config/zsh/zcomet/bin/functions/_zcomet   # fix completion due to the zsh-defer
autoload -Uz $HOME/.local/fpath/*(:t)
