# Make sure to load this after plugins to prevent it from being overwritten

### User Preference
alias v=nvim
alias lg=lazygit
alias d=docker
alias dc=docker-compose
alias cn='code -n .'
alias act-mac='act -P macos-latest=-self-hosted --container-architecture linux/amd64'

### System Tools
alias e="exit 0"
alias reload!=". ~/.zshrc"
alias switch_en="export LC_ALL='en_US.UTF-8'; export LANG='en_US.UTF-8'"
alias switch_tw="export LC_ALL='zh_TW.UTF-8'; export LANG='zh_TW.UTF-8'"

alias "cls"="clear"
alias ".."="cd .."
alias "..."="cd ../.."
alias "...."="cd ../../.."
alias "cd-"="cd -"
alias "cd.."="cd .."
alias "cd..."="cd ../.."
alias "cd...."="cd ../../.."

export LS_COLORS='di=0;34:ex=0;31:'

{{ if (eq .chezmoi.os "darwin") -}}
if type gls &>/dev/null
then
  alias  l="gls --color=auto --group-directories-first"
  alias ls='gls --color=auto --group-directories-first'
  alias ll="gls --color=auto -A --group-directories-first"
  alias l3="gls --color=auto -lAh --time-style=+'' --group-directories-first"
  alias l4="gls --color=auto -lahF --time-style='+[%Y-%m-%d %H:%M:%S]' --group-directories-first"
else
  alias  l="ls -G"
  alias ls='ls -G'
  alias ll="ls -AG"
  alias l3="ls -lAGh"
  alias l4="ls -laGhF"
fi
{{ else }}
alias  l="ls --color=auto --group-directories-first"
alias ls='ls --color=auto --group-directories-first'
alias ll="ls --color=auto -A --group-directories-first"
alias l3="ls --color=auto -lAh --time-style=+'' --group-directories-first"
alias l4="ls --color=auto -lahF --time-style='+[%Y-%m-%d %H:%M:%S]' --group-directories-first"
{{ end -}}

alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"
alias gpg_test='echo test | gpg --clear-sign'
alias gpg_reload='gpgconf --kill gpg-agent; gpgconf --reload gpg-agent'
alias gpg_list_keys='gpg --list-keys'
alias gpg_list_config='gpgconf --list-options gpg-agent'
alias gpg_delete_key='gpg --delete-secret-and-public-keys'
alias gpg_pubkey="gpg --armor --export | pbcopy | echo '=> Public key copied to pasteboard.'"

### Git
alias g=git
alias gc='git commit'
alias 'gcn'='git commit --no-verify'
alias 'gcn!'='git commit --no-verify --amend'
alias 'gcnn!'='git commit --no-verify --amend --no-edit'
alias 'gtll'='gtll(){ git tag --sort=-v:refname -n10 --format="[%(refname:short)] %(contents:lines=10)%0a" --list "${1}*" }; noglob gtll'

alias 'gtlll'='gtlll(){ git tag --sort=-v:refname -n999 --format="[%(objectname:short) %(refname:short)] %(contents:lines=999)%0a" --list "${1}*" }; noglob gtlll'
# alias 'gtll'='gtll(){ git tag --sort=-v:refname -n10 --format="[%(refname:short)] %(subject)" --list "${1}*" }; noglob gtll'
# alias 'gtlll'='gtlll(){ git tag --sort=-v:refname -n10 --format="[%(objectname:short) %(refname:short)] %(subject)" --list "${1}*" }; noglob gtlll'
alias gca='git commit -a'
alias gco='git checkout'
alias gcb='git copy-branch-name'
alias gcp='git cherry-pick'
alias grb='git rebase'
alias grba='git rebase --abort'
alias grbc='git rebase --continue'
alias grbi='git rbi'
alias grbo='git rebase --onto'
alias grbs='git rebase --skip'
alias ga='git add'
alias gaa='git add --all'
alias gb='git branch'
alias gs='git status -sb'
alias ge='git-edit-new'

alias glog="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'"
alias gloga="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --all"
alias gp='git push'
alias 'gp!'='git push --force-with-lease --force-if-includes'
# alias gd='git diff --color | sed "s/^\([^-+ ]*\)[-+ ]/\\1/" | less -r'
