[submodule "config.symlink/nvim"]
	path = config.symlink/nvim
	url = https://github.com/ZhenShuo2021/starter
[submodule "config.symlink/wezterm"]
	path = config.symlink/wezterm
	url = https://github.com/ZhenShuo2021/wezterm-config
[submodule "warp/warp.symlink/themes"]
	path = warp/warp.symlink/themes
	url = https://github.com/ZhenShuo2021/warp-themes
