#!/bin/sh
{{ if and (eq .chezmoi.os "linux") -}}
echo "Running before-ubuntu-tools.sh"

# Git delta
curl -sS https://webi.sh/delta | sh

# # Load asdf
# source $HOME/.asdf/asdf.sh

# # ghq
# asdf plugin add ghq
# asdf install ghq latest
# asdf global ghq latest

# # direnv
# asdf plugin add direnv
# asdf install direnv latest
# asdf global direnv latest
# asdf direnv setup --version latest # Setup script

# neovim
set -e

mkdir -p $HOME/.local/bin
curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.tar.gz
tar -C $HOME/.local/bin -xzf nvim-linux-x86_64.tar.gz
mv $HOME/.local/bin/nvim-linux-x86_64 $HOME/.local/bin/neovim
ln -s $HOME/.local/bin/neovim/bin/nvim $HOME/.local/bin/nvim
rm -f nvim-linux-x86_64.tar.gz
if ! type nvim &>/dev/null; then echo 'PATH="$PATH:$HOME/.local/bin"' >> $HOME/.zshrc ; fi

{{ end -}}
