{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

echo "Running darwin-fileicons.sh"
# fileicon set "/opt/homebrew/bin/wezterm" $HOME/.local/macos/fileicons/terminal_synthwave.icns
# setup wezterm icon: https://github.com/mikker/wezterm-icon/blob/main/Makefile
fileicon set "/Applications/Visual Studio Code.app" $HOME/.local/macos/fileicons/vscode.icns

{{ end -}}
