#!/bin/sh

echo "Running install-packages.sh"
source $HOME/.cache/chezmoi-utils.sh

printf "${green}[10 - macOS] ${reset}"
{{- if or (lt 10 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_BREW") }}
  echo "Skip installing common macOS packages"
  exit 0
{{ else }}
  echo "Install common macOS packages"
{{- end }}

set -eufo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "buildpacks/tap"
tap "homebrew/bundle"
tap "jesseduffield/lazygit"
brew "act"
brew "bat"
brew "bzip2"
brew "openssl@3"
brew "git-delta"
brew "glib"
brew "curl"
brew "exiftool"
brew "fd"
brew "ffmpeg"
brew "fileicon"
brew "fpp"
brew "fzf"
brew "gallery-dl"
brew "gh"
brew "git"
brew "gnupg"
brew "graphviz"
brew "grc"
brew "helix"
brew "htop"
brew "imagemagick"
brew "moreutils"
brew "mas"
brew "ncdu"
brew "neovim"
brew "node"
brew "p7zip"
brew "ripgrep"
brew "rsync"
brew "tmux"
brew "tree"
brew "wget"
brew "yarn"
brew "yazi", args: ["HEAD"]
brew "yt-dlp"
brew "zsh"
brew "jesseduffield/lazygit/lazygit"
cask "docker"
cask "font-hack-nerd-font"
cask "google-chrome"
cask "google-drive"
cask "teamviewer"
cask "wezterm"
cask "hiddenbar"
cask "iterm2"
cask "joplin"
cask "localsend"
cask "motrix"
cask "raycast"
cask "spotify"
cask "stats"
cask "the-unarchiver"
cask "upscayl"
cask "warp"
EOF

echo "Start services..."

# {{- if not (eq .computer_name "narze-m1-pro") }}
# brew services start skhd
# brew services start yabai
# {{- end }}
